<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>
<% if @test_passage.passed? %>
  Test passed - <b class='success'><%= @test_passage.calculate_percentage %></b>%
<%else%>
  Test failed - <b class='fail'><%= @test_passage.calculate_percentage %></b>%
<% end %>

<p>
<%= link_to 'Back', tests_path %>
</p>
