<nav class="navbar fixed-bottom navbar-light bg-light">
  <footer>
    <a class="navbar-text">Project: <%= github_url('crrafterr', 'rails_code') %> |
     Description: Application for testing. |
     <%= link_to  "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com/", target: '_blank', rel: %w[nofollow noopener]%></a>
    <p>Year: <%= current_year %></p>
  </footer>
</nav>
