<h1>Questions</h1>

<table>
  <tr>
  <th>Body</th>
  <th colspan="3">Actions</th>
  </tr>
  <%= render @questions %>
</table>

<p><%= button_to "Add question", new_test_question_path(@test), method: :get %></p>
