<footer>
  <p>Year: <%= current_year %></p>
  <p>Project: <%= github_url('crrafterr', 'rails_code') %></p>
  <p>Description: Application for testing.</p>
  <p><%= link_to  "Учебный проект в онлайн-школе Thinknetica", "https://thinknetica.com/", target: '_blank', rel: %w[nofollow noopener]%></p>
</footer>
